{%extends "base.html"%}

{%block content%}
        <!--  main  -->

    <div class="row" id="head">

        <div class="jumbotron">
            <br/>
            <div class="container" >
                <h1>百度校园推广搜索大赛</h1>
                <a href="{% url 'home' %}" class="btn white_btn">回到首页</a>
                <br />
            </div>
        </div>
    </div>

    <div class="row main">
        <div class="container center">
            <h1>组数已满。</h1>
            <h3>由于场地限制，暂不接受继续报名，感谢您的关注。</h3>
            <p><b id="timing">5</b>秒后返回首页</p>
        </div>
    </div>

    <script type="text/javascript">

        var t1 = setTimeout("document.getElementById('timing').innerHTML='4';",1000);
        var t2 = setTimeout("document.getElementById('timing').innerHTML='3';",2000);
        var t3 = setTimeout("document.getElementById('timing').innerHTML='2';",3000);
        var t4 = setTimeout("document.getElementById('timing').innerHTML='1';",4000);

        var t5 = setTimeout("window.location.assign(\"{% url 'home' %}\");",5000);

    </script>
        <!--  /main  -->
{%endblock%}